{% extends "base.html" %}
{% load static %}
{%block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% load cart_tools %}
{% endblock %}

{% block content %}
<div class="row no-gutters">
    <div class="col-10 offset-1 col-md-4 offset-md-4">
      <div class="page-title text-center">Shopping Cart</div>
      <div class="dark-hr"></div>
    </div>
  </div>
<div class="row no-gutters">
    <div class="col-8 offset-2">


        {% if cart_items|length %}
        <div class="row no-gutters">
            <div class="col-5 footer-heading">Products</div>
            <div class="col-2 footer-heading text-center">Price</div>
            <div class="col-2 footer-heading text-center ">Quantity</div>
            <div class="col-2 footer-heading text-center">Total</div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                {% for cart_item in cart_items %}
                <div class="row no-gutters">
                    <div class="col-12 dark-hr"></div>
                </div>
                <div class="row no-gutters">
                    <div class="col-5">
                        <div class="row no-gutters">
                            <div class="col-5">
                                <div class="square">
                                    <div class="square-inner text-center checkout-product-image">
                                        <div class="product-image"
                                            style="background-image: url({{cart_item.product.image.url}})">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 my-auto">
                                <h2>{{cart_item.product}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 my-auto text-center">
                        <h2>€{{cart_item.product.price}}</h2>
                    </div>
                    <div class="col-2 my-auto">
                        <form class="form update-form" method="POST" action="{% url 'update_cart' cart_item.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty form-control append-button-dark"
                                            data-item_id="{{ cart_item.item_id }}"
                                            id="decrement-qty_{{ cart_item.item_id }}">
                                            <i class="fas fa-minus fa-sm"></i> 
                                        </button>
                                    </div>
                                    <input class="form-control text-center qty_input" type="number" name="quantity"
                                        value="{{ cart_item.quantity }}" min="1" max="99"
                                        data-item_id="{{ cart_item.item_id }}" id="id_qty_{{ cart_item.item_id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty form-control append-button-dark"
                                            data-item_id="{{ cart_item.item_id }}"
                                            id="increment-qty_{{ cart_item.item_id }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-2 my-auto text-center">
                        <h2>€{{ cart_item.product.price | calc_subtotal:cart_item.quantity }} </h2>
                    </div>
                    <div class="col-1 text-center my-auto navbar-icon">
                        <form class="form" action="{% url 'remove_from_cart' cart_item.item_id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="fas fa-trash-alt icon-button"></button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                        </form>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col text-right">
                <h2 class="footer-heading">Subtotal Total = €{{total}}</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 ">
                <a href="{% url 'view_products' %}" class="sub-link">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase sub-link ">Keep Shopping</span>
                </a>
            </div>
            <div class="col-3 offset-7 text-center">
                <a href="{% url 'checkout' %}" class="form-control dark-button">
                    <span class="text-uppercase">Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>


        {% else %}
        <h1>There are no items in your cart.</h1>
        {% endif %}
    </div>
</div>

</div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}