{% extends "base.html" %} 
{% load static %}
{% load cart_tools %}
{% block page_header %} {%endblock%}
{% block content %}
<h1 class="display-1">This is the cart</h1>
{% if cart_items|length %} {% for cart_item in cart_items %}
<h2>{{cart_item.product}}</h2>
<h2>Price: €{{cart_item.product.price}}</h2>
<h2>Total: €{{ cart_item.product.price | calc_subtotal:cart_item.quantity }} </h2>
<form class="form update-form" method="POST" action="{% url 'update_cart' cart_item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <h2>Quantity</h2>
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                    data-item_id="{{ cart_item.item_id }}" id="decrement-qty_{{ cart_item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ cart_item.quantity }}" min="1" max="99"
                data-item_id="{{ cart_item.item_id }}"
                id="id_qty_{{ cart_item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm btn-black rounded-0"
                    data-item_id="{{ cart_item.item_id }}" id="increment-qty_{{ cart_item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<form class="form" action="{% url 'remove_from_cart' cart_item.item_id %}" method="POST">
{% csrf_token %}
        <input
            type="submit"
            class="btn btn-black rounded-0 text-uppercase mt-5"
            value="Remove"
        />
        </div>
        <input type="hidden" name="redirect_url" value="{{ request.path }}" />
</form>
{% endfor %} 
<h2>Grand Total = €{{total}}</h2>
{% else %}
<h1>There are no items in your cart.</h1>
{% endif %} {% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
