{% extends "base.html" %} {% load static %} {% block content %}
<div class="row no-gutters">
  <div class="col-10 offset-1 col-md-4 offset-md-4">
    <div class="page-title text-center">Account</div>
    <div class="dark-hr"></div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-10 offset-1 col-md-2 offset-md-1">
    <div class="footer-heading">
      {{profile.user.first_name}} {{profile.user.last_name}}
    </div>
    <div class="standard-paragraph">{{profile.user.email}}</div>
    <div class="footer-heading">Primary Address</div>
    <!-- {{form.primary_address}} -->
    <div class="standard-paragraph">
      {% if primary_address|length %} {% for address in primary_address %}
      {{address.address_line_1}}<br />
      {{address.address_line_2}}<br />
      {{address.town_or_city}}<br />
      {{address.county_or_province}}<br />
      {{address.country}}<br />
      {{address.post_code_or_zip_code}}<br />
      {{address.phone_number}}<br />
      {% endfor%} {% else %}
      <div>
        You haven't set your primary address yet, please choose one from your
        address book.
      </div>
      {% endif %}
    </div>
    <a class="form-control btn dark-button" href="{% url 'addresses' %}"
      >Manage Addresses</a
    >
    <a class="form-control btn dark-button" href="{% url 'account_logout' %}"
      >Logout</a
    >
  </div>
  <div class="col-10 offset-1 col-md-7 offset-md-1">
    <div class="footer-heading">Order History</div>
    {% if orders|length %} {% for order in orders %}
    <div class="row">
      <div class="col-12 order-history-info-item">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="order-sub-heading">Order Placed:</div>
            <div>{{order.date}}</div>
            <div class="order-sub-heading">Order Number:</div>
            <div>{{order.order_number}}</div>
            <div class="order-sub-heading">Order Total:</div>
            <div>€{{order.grand_total}}</div>
          </div>
          <div class="col-12 col-md-7 offset-md-2">
            <div class="row">
              <div class="col-12">
                <span>Order dispatched to {{order.address_line_1}}</span>
                <!-- <span><a class="btn dark-button" href="https://www.fastway.ie/courier-services/track-your-parcel">Track
                    Parcel</a></span> -->
              </div>
              <div class="col-12">
              {% for line_item in order.line_items.all %}
              <div>{{ line_item.product }} x{{ line_item.quantity }}</div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="row">
      <div class="col-12 order-history-info-item">
        You haven't placed any orders yet.
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
