{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block page_header %} {%endblock%}
{% block content %}
<h2>Wishlist</h2>
<form class="form" action="{% url 'remove_all_from_wishlist' %}" method="POST">
    {% csrf_token %}
    <input class="text-center dark-button" type="submit" value="Remove All"></input>
    <input type="hidden" name="redirect_url" value="{{ request.path }}" />
</form>
<form class="form" action="{% url 'add_wishlist_to_cart' %}" method="POST">
    {% csrf_token %}
    <input class="text-center dark-button" type="submit" value="Add All To Cart"></input>
    <input type="hidden" name="redirect_url" value="{{ request.path }}" />
</form>

{% if wishlist_items|length %}
{% for wishlist_item in wishlist_items %}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 product-card">
    <div class="square">
        <div class="square-inner text-center">
            <div class="h-75 product-header">
                <div class="product-image" style="background-image: url({{wishlist_item.product.image.url}})"></div>
                <form class="form" action="{% url 'add_to_cart' wishlist_item.product.id %}" method="POST">
                    {% csrf_token %}
                    <input class="add-to-cart-hover-button text-center dark-button" type="submit"
                        value="Add to cart"></input>
                    <input class="form-control qty_input" type="hidden" name="quantity" value="1" min="1" max="99"
                        data-item_id="{{ wishlist_item.product.id }}" id="id_qty_{{ wishlist_item.product.id }}" />
                    <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                </form>
            </div>
            <a href="{% url 'view_product' wishlist_item.product.id %}">{{wishlist_item.product.name}}</a>
            <h2>{{wishlist_item.product.label.friendly_name}}</h2>
            <h2>{{wishlist_item.product.price}}</h2>
            <form class="form" action="{% url 'remove_from_wishlist' wishlist_item.product.id %}" method="POST">
                {% csrf_token %}
                <input class="text-center dark-button" type="submit" value="Remove"></input>
                <input type="hidden" name="redirect_url" value="{{ request.path }}" />
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}