{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {%block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% load cart_tools %} {% endblock %} {% block page_header %} {% endblock %}
{%block content %}
<div class="row no-gutters vh-100">
  <div class="col-10 offset-1 col-md-5 offset-md-1 shipping-information">
    <div class="my-auto text-center checkout-branding">
      <i class="fas fa-record-vinyl"></i>
      <h3>The Record Store</h3>
    </div>
    <form method="POST" action="{% url 'checkout' %}" class="form mb-2" id="order-form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row no-gutters">
        <h2 class="col-12 footer-heading">Contact Information</h2>
        <div class="col-12">{{ order_form.email }}</div>
        <h2 class="col-12 footer-heading">Shipping Address</h2>
        <div class="col-12 col-md-6">
          <div class="mr-md-2">{{ order_form.first_name }}</div>
        </div>
        <div class="col-12 col-md-6">
          <div class="ml-md-2">{{ order_form.last_name }}</div>
        </div>
        <div class="col-12">{{ order_form.address_line_1 }}</div>
        <div class="col-12">{{ order_form.address_line_2 }}</div>
        <div class="col-12">{{ order_form.town_or_city }}</div>
        <div class="col-12 col-md-4">
          <div class="mr-md-2">{{ order_form.country }}</div>
        </div>
        <div class="col-12 col-md-4">
          <div class="mr-md-2 ml-md-2">{{ order_form.county_or_province }}</div>
        </div>
        <div class="col-12 col-md-4">
          <div class="ml-md-2">{{ order_form.post_code_or_zip_code }}</div>
        </div>
        <div class="col-12 d-flex">{{ order_form.phone_number }}</div>
        <div class="form-check-inline">
          {% if user.is_authenticated %}
          <label class="form-control borderless" for="id-save-info">Save Address</label>
          <input class="form-control" type="checkbox" id="id-save-info" name="save-info" checked />
          {% else %}
          <label class="form-check-label" for="id-save-info">
            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a>
            or
            <a class="text-info" href="{% url 'account_login' %}">login</a> to
            save this information
          </label>
          {% endif %}
        </div>
        <h2 class="col-12 footer-heading">Payment</h2>
        <div class="form-control" id="card-element"></div>
        <input type="hidden" value="{{ client_secret }}" name="client_secret">
        <div class="col-10 offset-1 col-md-4 offset-md-4 my-auto text-center">
          <a href="{% url 'view_cart' %}" class="sub-link">
            <span class="icon">
              <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase sub-link ">Adjust Cart</span>
          </a>
        </div>
        <button type="submit" class="form-control dark-button col-10 offset-1 col-md-4 offset-md-4">
          Complete Order
        </button>

      </div>
    </form>
  </div>
  <div class="col-12 col-md-5 offset-md-1 order-summary">
    <h2 class="text-center footer-heading c1">Order Summary</h2>
    <div class="row no-gutters">
      {% for cart_item in cart_items %}
      <div class="col-8 offset-2">
        <div class="row no-gutters">
          <div class="col-2">
            <div class="square">
              <div class="square-inner text-center checkout-product-image">
                <div class="product-image" style="background-image: url({{cart_item.product.image.url}})"></div>
              </div>
            </div>
          </div>
          <div class="col-8 offset-2 my-auto checkout-product-text">
            x ({{cart_item.quantity}}) {{cart_item.product}}
            €{{cart_item.product.price | calc_subtotal:cart_item.quantity }}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-8 offset-2 checkout_hr"></div>
    </div>
    <div class="row no-gutters">
      <div class="col-8 offset-2">
        <h2 class="">Subtotal = €{{total| floatformat:2}}</h2>
        <h2 class="">Shipping = €{{delivery_cost| floatformat:2}}</h2>
        <div class="checkout_hr"></div>
        <h2 class="">Grand Total = €{{grand_total| floatformat:2}}</h2>
      </div>
    </div>
  </div>

  {% endblock %} {% block page_footer %} {% endblock %} {% block postloadjs %}
  {{ block.super}} 
  {{stripe_public_key|json_script:"id_stripe_public_key" }}
  {{client_secret|json_script:"id_client_secret" }}

  <script>
    var stripePublicKey = $("#id_stripe_public_key").text().slice(1, -1);
    var clientSecret = $("#id_client_secret").text().slice(1, -1);
    var stripe = Stripe(stripePublicKey);
    var elements = stripe.elements();
    var style = {
      base: {
        color: '#802bb1',
        iconColor: '#802bb1',
        '::placeholder': {
          color: '#802bb1'
        }
      },
      invalid: {
        color: '#dc3545',
        iconColor: '#dc3545'
      }
    };
    var card = elements.create("card", {
      style: style
    });
    card.mount("#card-element");

    /*Order form submission handling*/
    var form = document.getElementById("order-form");
    form.addEventListener("submit", function (ev) {
      ev.preventDefault();

      card.update({
        'disabled': true
      });
      $('#submit-button').attr('disabled', true);
      $('#payment-form').fadeToggle(100);
      var saveInfo = Boolean($('#id-save-info').attr('checked'));

      var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
      var postData = {
        'csrfmiddlewaretoken': csrfToken,
        'client_secret': clientSecret,
        'save_info': saveInfo,
      };

      var url = '/checkout/cache_checkout_data/';

      $.post(url, postData).done(function () {
        stripe
          .confirmCardPayment(clientSecret, {
            payment_method: {
              card: card,
              billing_details: {
                name: $.trim(form.first_name.value + " " + form.last_name.value),
                phone: $.trim(form.phone_number.value),
                email: $.trim(form.email.value),
                address: {
                  line1: $.trim(form.address_line_1.value),
                  line2: $.trim(form.address_line_2.value),
                  city: $.trim(form.town_or_city.value),
                  country: $.trim(form.country.value),
                  state: $.trim(form.county_or_province.value),
                }
              }
            },
          })
          .then(function (result) {
            if (result.error) {
              $('#payment-form').fadeToggle(100);
              card.update({
                'disabled': false
              });
              $('#submit-button').attr('disabled', false);
              console.log(result.error)
              debugger;
            } else {
              console.log(result.paymentIntent.status)
              if (result.paymentIntent.status === "succeeded") {
                form.submit();
              }
            }
          });
      }).fail(function () {
        location.reload();
      })



    });
  </script>
  {% endblock%}
</div>