<div class="row no-gutters w-100" id="nav-search">
  <div class="col-1 offset-1 my-auto" id="brand">
    <!-- Brand/logo -->
    <a href="{% url 'home'%}">
      <i class="fas fa-record-vinyl" id="brand-icon"></i>
      <div id="brand-name">The Record Store</div>
    </a>
  </div>
  <div class="col-6 offset-1 my-auto">
    <!-- Serach Bar -->
    <form method="GET" action="{% url 'view_products' %}">
      <div class="input-group w-100">
        <input class="form-control rounded-0" type="text" name="search_bar_main" id="search-bar-main"
          placeholder="Search by Title, Artist, Label etc" />
        <div class="input-group-append">
          <button class="form-control append-button-dark" type="submit" id="search-icon">
            <span class="icon">
              <i class="fas fa-search navbar-icon"></i>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3 my-auto text-center">
    <!-- Wishlist, Profile & Cart -->
    <ul class="list-inline">
      <li class="list-inline-item">
        <div class="text-center">
          <a class="nav-link" href="{% url 'view_wishlist' %}"><i class="far fa-heart fa-lg navbar-icon"></i></a>
        </div>
      </li>
      <li class="list-inline-item">
        <div class="text-center">
          <a class="nav-link" href="{% url 'profile' %}"><i class="far fa-user-circle fa-lg navbar-icon"></i></a>
        </div>
      </li>
      <li class="list-inline-item">
        <div class="text-center">
          <a class="nav-link" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart fa-lg navbar-icon"></i></a>
        </div>
      </li>
      {% if user.is_superuser %}
      <li class="list-inline-item">
        <div class="text-center">
          <a class="nav-link" href="{% url 'add_product' %}"><i class="fas fa-tools fa-lg navbar-icon"></i></a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="row w-100 no-gutters" id="nav-menu">
  <ul class="list-inline col-6 offset-3 navbar-nav">
    <div class="row no-gutters">
      <li class="list-inline-item dropdown col-6 p-0 m-0 text-center">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Genre
        </a>
        <div class="dropdown-menu w-100 text-center" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'view_products' %}">All</a>
          {% for genre in genres %}
          <a class="dropdown-item" href="{% url 'view_products' %}?genre={{genre}}">{{genre.friendly_name}}</a>
          {% endfor %}
        </div>
      </li>
      <li class="list-inline-item dropdown col-6 p-0 m-0 text-center">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Special Offers
        </a>
        <div class="dropdown-menu w-100 text-center" aria-labelledby="navbarDropdownMenuLink">
          {% for tag in tags %}
          <a class="dropdown-item" href="{% url 'view_products' %}?tag={{tag}}">{{tag.friendly_name}}</a>
          {% endfor %}
        </div>
      </li>
    </div>
  </ul>
</div>