<div class="row no-gutters d-none d-lg-flex" id="nav-search">
  <div class="col-1 offset-1 my-auto" id="brand">
    <!-- Brand/logo -->
    <a href="{% url 'home'%}">
      <i class="fas fa-record-vinyl" id="brand-icon"></i>
      <div id="brand-name">The Record Store</div>
    </a>
  </div>
  <div class="col-6 offset-1 my-auto">
    <!-- Serach Bar -->
    <div class="input-group w-100">
      <input
        class="form-control rounded-0"
        type="text"
        name="q"
        id="search-bar-main"
        placeholder="Search by Title, Artist, Label etc"
      />
      <div class="input-group-append">
        <button class="form-control rounded-0" type="submit" id="search-icon">
          <span class="icon">
            <i class="fas fa-search navbar-icon"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-3 my-auto">
    <!-- Wishlist, Profile & Cart -->
    <ul class="navbar-nav row no-gutters">
      <li class="nav-item p-0 col-4">
        <div class="text-center">
          <a class="nav-link" href="{% url 'view_wishlist' %}"
            ><i class="far fa-heart fa-lg navbar-icon"></i
          ></a>
        </div>
      </li>
      <li class="nav-item p-0 col-4">
        <div class="text-center">
          <a class="nav-link" href="{% url 'profile' %}"
            ><i class="far fa-user-circle fa-lg navbar-icon"></i
          ></a>
        </div>
      </li>
      <li class="nav-item p-0 col-4">
        <div class="text-center">
          <a class="nav-link" href="{% url 'view_cart' %}"
            ><i class="fas fa-shopping-cart fa-lg navbar-icon"></i
          ></a>
        </div>
      </li>
    </ul>
  </div>


</div>
<div class="row no-gutters d-none d-lg-flex" id="nav-menu">
  <div class="col-6 offset-3">
    <div class="row no-gutters">
      <!-- Site Nav -->
      <ul class="navbar-nav w-100">
        <li class="nav-item p-0 text-center p-0 col-3 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Genre
          </a>
          <div
            class="dropdown-menu w-100 text-center"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="{% url 'view_products' %}">All</a>
            <a class="dropdown-item" href="#">Rock</a>
            <a class="dropdown-item" href="#">Hip Hop</a>
          </div>
        </li>
        <li class="nav-item p-0 text-center p-0 col-3">
          <a class="nav-link" href="" href="#">New Releases</a>
        </li>
        <li class="nav-item p-0 text-center p-0 col-3">
          <a class="nav-link" href="" href="#">Pre Orders</a>
        </li>
        <li class="nav-item p-0 text-center p-0 col-3 dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Special Offers
          </a>
          <div
            class="dropdown-menu w-100 text-center"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="#">3 for 2</a>
            <a class="dropdown-item" href="#">Clearance</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
