<div class="row no-gutters">
    <div class="col mobile-site-nav" id="mobile-site-nav">
        <ul class="accordion navbar-nav text-center" id="site-navigation-accordion">
            <li class="nav-item p-0 text-center">
                <button class="filter-dropdown-button nav-link w-100 collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsed-genres" aria-expanded="true" aria-controls="collapsed-genres">
                    Genre
                </button>
                <div id="collapsed-genres" class="collapse">
                    <a class="dropdown-item" href="{% url 'view_products' %}">All</a>
                    {% for genre in genres %} 
                    <a class="dropdown-item" href="{% url 'view_products' %}?genre={{genre}}">
                    {{genre.friendly_name}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item p-0 text-center">
                <button class="filter-dropdown-button nav-link w-100 collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsed-special-offers" aria-expanded="true" aria-controls="collapsed-special-offers">
                    Promotions
                </button>
                <div id="collapsed-special-offers" class="collapse">
                    {% for tag in tags %} 
                    <a class="dropdown-item" href="{% url 'view_products' %}?tag={{tag}}">
                    {{tag.friendly_name}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item p-0 text-center">
                <button class="filter-dropdown-button nav-link w-100 collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsed-profile" aria-expanded="true" aria-controls="collapsed-profile">
                    Account
                </button>
                <div id="collapsed-profile" class="collapse">
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                </div>
            </li>
            <li class="nav-item p-0 text-center">
                <button class="filter-dropdown-button nav-link w-100 collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsed-wishlist" aria-expanded="true" aria-controls="collapsed-wishlist">
                    Wishlist
                </button>
                <div id="collapsed-wishlist" class="collapse">
                    <a class="dropdown-item" href="{% url 'view_wishlist' %}">View</a>
                </div>
            </li>
        </ul>
    </div>
</div>