<div class="row no-gutters">
    <div class="col mobile-site-nav" id="mobile-site-nav">
        <ul class="accordion navbar-nav text-center" id="site-navigation-accordion">
            <li class="nav-item p-0 text-center">
                <button class="site-navigation-accordion-button nav-link w-100" type="button" data-toggle="collapse"
                    data-target="#collapsed-genres" aria-expanded="true" aria-controls="collapsed-genres">
                    Genre
                </button>
                <div id="collapsed-genres" class="collapse collapsed-navigation" aria-labelledby="genre">
                    {% for genre in genres %} 
                    <a class="dropdown-item" href="{% url 'view_products' %}?genre={{genre}}">
                    {{genre.friendly_name}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item p-0 text-center">
                <a class="nav-link" href="" href="#">New Releases</a>
            </li>
        </ul>
    </div>
</div>