<form method="GET" action="{% url 'view_products' %}" class="row no-gutters text-center" id="nav-search">
  <div class="col-12" id="mobile-search-bar">
    <div class="row no-gutters h-100">
      <div class="col-2 text-center my-auto mobile-search-toggle">
        <i class="fas fa-chevron-left mobile-navbar-icon"></i>
      </div>
      <div class="col-9 my-auto">
        <div class="input-group w-100">
          <input class="form-control rounded-0" type="text" name="search_bar_main" id="search-bar-mobile"
            placeholder="Search by Title, Artist, Label etc" />
          <div class="input-group-append">
            <button class="form-control append-button-dark" type="submit" id="search-icon">
              <span class="icon">
                <i class="fas fa-search navbar-icon"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row w-100 no-gutters">
  <div class="col-1 text-center my-auto" id="site-navigation-toggle">
    <i class="fas fa-bars mobile-navbar-icon"></i>
  </div>
  <div class="col-8 offset-1 my-auto text-center" id="brand">
    <a href="{% url 'home'%}">
      <i class="fas fa-record-vinyl" id="brand-icon"></i>
      <div id="brand-name">The Record Store</div>
    </a>
  </div>
  <div class="col-1 text-center my-auto mobile-search-toggle">
    <span class="icon">
      <i class="fas fa-search mobile-navbar-icon"></i>
    </span>
  </div>
  <div class="col-1 text-center my-auto">
    <span class="icon">
      <i class="fas fa-shopping-cart mobile-navbar-icon"></i>
    </span>
  </div>
</div>