{% extends "account/base.html" %}
{% block title_content %}Confirm Email Address {% endblock %}
{% load account %}
{% block head_title %}Confirm E-mail Address{% endblock %}


{% block inner_content %}


{% if confirmation %}

<p class="text-center">Please confirm that <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an e-mail address for user {{ confirmation.email_address.user }}.</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button class="dark-button form-control text-center col-4 offset-4" type="submit">Confirm</button>
</form>

{% else %}

<p>This e-mail confirmation link expired or is invalid. Please <a href="{{ account_email }}">issue a new e-mail confirmation
        request</a>.</p>

{% endif %}

{% endblock %}