{% extends "account/base.html" %} 
{% block title_content %}Sign In{% endblock %}
{%block inner_content %}
<form method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <input type="email" name="login" placeholder="E-mail address" autocomplete="email" required="" id="id_login"
    class="form-control">
  <input type="password" name="password" placeholder="Password" autocomplete="current-password" required=""
    id="id_password" class="form-control">
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="row no-gutters">
    <button class="dark-button form-control col-10 offset-1 col-md-4 offset-md-4" type="submit">Sign In</button>
    <a class="col-10 offset-1 my-auto text-center sub-link" href="{% url 'account_reset_password' %}">Forgot
      Password?</a>
  </div>
  <div class="col-10 offset-1 text-center">
    <div class="sub-label">New Customer? <a class="sub-link" href="{{ signup_url }}">Sign Up</a></div>
  </div>
  
</form>

{% endblock %}