{% extends "account/base.html" %}
{% block title_content %}Password Change{% endblock %}
{%block inner_content %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    <input class="form-control" type="password" name="password1" placeholder="New Password" autocomplete="new-password" required=""
        id="id_password1">
    <input class="form-control" type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2">
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="row no-gutters">
        <button class="dark-button form-control col-4 offset-4" type="submit">Submit</button>
    </div>
</form>

{% endblock %}