{% extends "account/base.html" %}
{% block title_content %}Password Reset{% endblock %}
{%block inner_content %}
<form method="POST" action="{% url 'account_reset_password' %}" >
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email" autocomplete="email" class="form-control" required=""
        id="email" />
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
  <div class="row no-gutters">
    <button class="dark-button form-control col-4 offset-4" type="submit">Submit</button>
    <a class="col-10 offset-1 my-auto text-center sub-link" href="{{ login_url }}">Cancel</a>
  </div>
</form>

{% endblock %}