{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block extra_css %} 

{% endblock %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Add a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" id="product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{field.name}}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <h4>Tracklist</h4>
                    <label for="track_01">Track 01:</label>
                    <input type="text" id="track_01" class="tracklist_item" name="text_field[]">
                    <button id="add_feild" type="button">Add New Track</button>
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="">Cancel</a>
                        <button class="btn btn-black rounded-0" >Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
    $(".single-dynamic").select2({
        tags: true,
    });

const zeroPad = (num, places) => String(num).padStart(places, '0')

var trackNumber = 1;
var add_button = document.getElementById('add_feild');

add_button.addEventListener('click', function(ev) {
    var last_track = document.getElementById("track_"+zeroPad(trackNumber, 2));
    trackNumber ++;

    var new_label = document.createElement("label");
    new_label.setAttribute("for", "track_"+ zeroPad(trackNumber, 2));
    new_label.innerText = "Track " + zeroPad(trackNumber, 2) +":";

    var new_field = document.createElement("input");
    new_field.setAttribute("type", "text");
    new_field.setAttribute("id", "track_"+ zeroPad(trackNumber, 2));
    new_field.setAttribute("class", "tracklist_item");
    new_field.setAttribute("name", "text_field[]");

    last_track.parentNode.insertBefore(new_field, last_track.nextSibling);
    new_track = document.getElementById("track_" + zeroPad(trackNumber, 2));
    new_track.parentNode.insertBefore(new_label, new_track)
})

var form = document.getElementById('product-form');

form.addEventListener('submit', function(ev) {
    ev.preventDefault();
    //Concatonate the tracklist inputs into an arrayfield string.
    tracklistInputs = document.getElementsByClassName('tracklist_item');
    var tracklist = "";
    for(i = 0 ; i < tracklistInputs.length; i ++){
        let trackName = ""
        if(i < tracklistInputs.length-1){
            trackName = (i+1)+"."+" "+tracklistInputs[i].value+" ,"
        }
        else{
            trackName = (i+1)+"."+" "+tracklistInputs[i].value
        }
       
       tracklist += trackName;
    }

    let tracklistInput = new_track = document.getElementById("id_tracklist");
    tracklistInput.value = tracklist;
    form.submit();
})
</script>
{% endblock %}