{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {%block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row no-gutters">
        <div class="col-10 offset-1 col-md-4 offset-md-4">
            <div class="page-title text-center">Add Product</div>
            <div class="page-title text-center">{{product}}</div>
            <div class="dark-hr"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 offset-2">
            <form method="POST" action="{% url 'add_product'%}" class="form mb-2" id="product-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %} {% if field.name != 'sku' %}
                    <div class="col-12">
                        <label class="form-label" for="{{field.name}}">{{field.name}}</label>
                        {{ field }}
                    </div>

                    {% endif %} {% endfor %}
                </div>

                <div class="row">
                    <div class="col-2 my-auto">
                        <label for="1">Track 01:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="1" class="tracklist_item form-control" name="text_field[]" value="" />
                    </div>
                </div>
                <button class="dark-button" id="add_track" type="button">
                    Add New Track
                </button>
                <button class="dark-button" id="delete_track" type="button">
                    Delete Track
                </button>


                <div class="row no-gutters">
                    <div class="col-2 my-auto">
                        <a href="{% url 'view_products' %}" class="sub-link">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase sub-link">Cancel</span>
                        </a>
                    </div>
                    <div class="col-3 offset-7 text-center">
                        <button type="submit" class="form-control dark-button">
                            <span class="text-uppercase">Add Product</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $(".single-dynamic").select2({
        tags: true,
        allowClear: true,
        placeholder: "Select from the list or type and enter to add new."
    });
    $(".single-dynamic").val(null).trigger('change');

    const zeroPad = (num, places) => String(num).padStart(places, "0");

    var add_button = document.getElementById("add_track");
    var delete_button = document.getElementById("delete_track");
    toggleDeleteButton();

    function toggleDeleteButton() {
        var lastTrack = add_button.previousElementSibling;
        var lastTrackInput = lastTrack.getElementsByTagName("input")[0];
        var lastTrackNumber = parseInt(lastTrackInput.getAttribute("id"));

        if (lastTrackNumber < 2) {
            delete_button.style.display = "none";
        } else {
            delete_button.style.display = "inline-block";
        }
    }

    delete_button.addEventListener("click", function (ev) {
        var lastTrack = add_button.previousElementSibling;
        lastTrack.remove();
        toggleDeleteButton();
    });

    add_button.addEventListener("click", function (ev) {
        var lastTrack = add_button.previousElementSibling;
        var trackCopy = lastTrack.cloneNode(true);

        var trackCopyLabel = trackCopy.getElementsByTagName("label")[0];
        var trackCopyInput = trackCopy.getElementsByTagName("input")[0];
        trackNumber = parseInt(trackCopyInput.getAttribute("id"));

        trackNumber++;

        trackCopyLabel.setAttribute("for", trackNumber);
        trackCopyLabel.innerText = "Track " + zeroPad(trackNumber, 2) + ":";

        trackCopyInput.setAttribute("type", "text");
        trackCopyInput.setAttribute("id", trackNumber);
        trackCopyInput.setAttribute("class", "tracklist_item form-control");
        trackCopyInput.setAttribute("name", "text_field[]");
        trackCopyInput.value = "";

        lastTrack.parentNode.insertBefore(trackCopy, lastTrack.nextSibling);
        toggleDeleteButton();
    });

    var form = document.getElementById("product-form");

    form.addEventListener("submit", function (ev) {
        ev.preventDefault();
        //Concatonate the tracklist inputs into an arrayfield string.
        tracklistInputs = document.getElementsByClassName("tracklist_item");
        var tracklist = "";
        for (i = 0; i < tracklistInputs.length; i++) {
            let trackName = "";
            if (i < tracklistInputs.length - 1) {
                trackName = tracklistInputs[i].value + " ,";
            } else {
                trackName = tracklistInputs[i].value;
            }

            tracklist += trackName;
        }

        let tracklistInput = (new_track = document.getElementById("id_tracklist"));
        tracklistInput.value = tracklist;
        form.submit();
    });

    $("#new-image").change(function () {
        var file = $("#new-image")[0].files[0];
        $("#filename").text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}