  {% extends "base.html" %}
  {% load static %}

  {% block extra_css %}
  <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
  {% endblock %}


  {% block page_header %}

  {% endblock %}

  {% block content %}

    <div class="row no-gutters">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
            <div class="row no-gutters">
                {% for product in products %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 product-card">
                  <div class="square">
                      <div class="square-inner text-center">
                          <div class="h-75">
                            <div class="product-image" style="background-image: url({{product.image.url}})"></div>
                          </div>
                          <h2>{{product.name}}</h2>
                          <h2>{{product.artist}}</h2>
                          <h2>{{product.label}}</h2>
                          <h2>{{product.price}}</h2>
                      </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



  {% endblock %}

  {% block postloadjs %}
  {{ block.super }}
  {% endblock %}