{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="row no-gutters my-5">
    <div class="col-10 offset-1 col-md-7 offset-md-0">
        {% if product.image %}

        <!-- Product Image -->
        <img src="{{product.image.url}}" class="img-fluid" alt="Responsive image">
        <!-- <div class="img-fluid" style="background-image: url({{product.image.url}})"></div> -->


        {% else %}
        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}noimage.png')"></div>
        {% endif %}
    </div>
    <div class="col-10 offset-1 col-md-5 offset-md-0 my-auto text-center">
        <div class="footer-heading">{{product.artist.friendly_name}}</div>
        <div class="footer-heading">{{product.name}} ({{product.release_year}})</div>
        <div class="footer-heading">€{{product.price}}</div>
        <div class="row no-gutters">
            <form class="form col-10 offset-1 col-md-4 offset-md-2" action="{% url 'add_to_cart' product.id %}"
                method="POST" id="add-to-cart-{{product.id}}">
                {% csrf_token %}
                <input class="text-center dark-button form-control " type="submit" value="Add to cart"></input>
                <input class="form-control qty_input" type="hidden" name="quantity" value="1" min="1" max="99"
                    data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" />
                <input type="hidden" name="redirect_url" value="{{ request.path }}" />
            </form>
            <form class="form col-10 offset-1 col-md-4" action="{% url 'add_to_wishlist' product.id %}" method="POST">
                {% csrf_token %}
                <input class="text-center dark-button form-control " type="submit" value="Add to wishlist"></input>
                <input type="hidden" name="redirect_url" value="{{ request.path }}" />
            </form>
        </div>
        <div><span class="order-sub-heading">Label: </span><span>{{product.label.friendly_name}}</span></div>
        <div><span class="order-sub-heading">Format: </span><span>{{product.format.friendly_name}}</span></div>
        <div><span class="order-sub-heading">Colour: </span><span>{{product.colour.friendly_name}}</span></div>
        <div><span class="order-sub-heading">Genre: </span><span>{{product.genre.friendly_name}}</span></div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-10 offset-1 col-md-6 offset-md-1 text-left mb-5">{{product.description}}</div>
    <div class="col-10 offset-1 col-md-4 offset-md-1 text-left">
        <div class="order-sub-heading mb-2">Tracklist</div>
        {% for track in product.tracklist %}
        {% if forloop.counter < 10 %}
        <div>Track {{forloop.counter|stringformat:"02d"}}: {{track}}</div>
        {% else %}
        <div>Track {{forloop.counter|stringformat:"01d"}}: {{track}}</div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row no-gutters mt-5 mb-5">
    <div class="col-10 offset-1 text-left">
        <strong>SKU: {{product.sku}}</strong>
    </div>
    {% if request.user.is_superuser %}
    <small class="ml-3">
        <a href="{% url 'edit_product' product.id %}">Edit</a> |
        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
    </small>
    {% endif %}
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}